body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:hsl(31, 54%, 72%, 10%);
    overflow: auto;
}

header {
    position: absolute;
    background-color:hsl(31, 54%, 72%, 20%);
    border-bottom: solid #DEB992 1px;
    top: 0;
    left: 0;
    height: 15vh;
    min-width: 100%;
    display: flex;
}

#fullStop{
    color: #1BA098;
}

button {
    background-color: #1BA098;
    text-transform: uppercase;
    color: white;
    padding: 2vh;
    border: none;
}

button:focus {
    outline: none;
}

.accountNav {
    margin: 4.5vh 3vh 4.5vh 2vh;
    font-weight: bold;
}

#loginBtn {
    margin-right: -1vh;
    background-color: hsl(31, 54%, 72%, 10%);
    border: solid 1px #1BA098;
    color: #1BA098;
}

#signupBtn {
    color: white;
}

#logoutBtn {
    margin-left: auto;
    background-color: hsl(31, 54%, 72%, 10%);
    border: solid 1px #1BA098;
    color: #1BA098;
    visibility: hidden;
    z-index: -1;
    margin-right: -26vh;
}

#contents {
    margin-top: 20vh;
    padding: 7vh 25vh 5vh 20vh;
}

h1 {
    font-weight: bolder;
    padding: 2vh;
}

.form {
    visibility: hidden;
    margin: -10vh 0 5vh 0;
    width: 100%;
    font-size: 1em;
}

.form input, .form select {
    margin: 0.5vh 0.5vh 3vh 0.5vh;
    padding: 2vh;
    font-size: 1em;
    background-color:transparent;
    border: 1px solid gray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#titleInput {
    width: 30%;
}

#authorInput {
    width: 30%;
}

#pagesInput {
    width: 8%;
}

#readInput {
    width: 14%;
}

#submitBtn {
    margin-left: 0.5vh;
}

.bookList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -9vh;
    margin-right: -3vh;
    position: absolute;
    top: 45%;
}

.bookTile{
    border: solid 2px black;
    height: 30vh;
    width: 30vh;
    padding: 2vh;
    margin: 3vh;
    position: relative;
}

.tileTitle{
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: solid 0.5px black;
}

.tileAuthor{
    font-size: 1em;
    margin-top: -0.5em;
}

.tilePages {
    font-size: 0.7em;
    bottom: 0;
    position: absolute;
    bottom: 2vh;
}

.deleteBtn {
    width: 3vh;
    height: 3vh;
    position: absolute;
    top: 1vh;
    right: 1vh;
    background-color: transparent;
    border: none;
}

.tileRead {
    width: 3vh;
    height: 3vh;
    position: absolute;
    bottom: 4vh;
    right: 2vh;
    font-size: 0.7em;
    background-color: transparent;
    color: black;
    text-transform: lowercase;
}

@media only screen and (max-width: 1200px) {
    #titleInput{
        width: 80%;
        min-width: 200px;
    }
    
    #authorInput{
        width: 80%;
        min-width: 200px;
    }

    #pagesInput {
        width: 10%;
        min-width: 70px;
    }
    
    #readInput {
        width: 12%;
        min-width: 115px;
    }

    .bookList {
        margin-top: 10vh;
    }
}
